*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.contact{
    width: 100%;
    height: 100vh;
   
    display: flex;
 align-items: center;
 justify-content: center;
}
form{
    width: 90%;
    max-width: 600px;

}
.Contact_form{
    background: radial-gradient(rgb(219, 146, 146),#ffd6d6);
}
.input-group{
    margin-bottom: 30px;
position: relative;
}
input,textarea{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #fff;
    columns: #fff;
    border-radius: 6px;
    background: transparent;
    font-size: 15px;
}
label{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: #000;
    cursor: text;
    transition: 0.2s;
}
button{
    padding: 10px 0;
    color: #fff;
    outline: none;
    background: #ff532b;
    border: 1px solid #fff;
    width: 100%;
    cursor: pointer;
}
input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label{
    
    top: -35px;
    font-size: 14px;
}
@media only screen and (min-width:950px)
 {
 .form-row{
     display:flex;
     align-items: center;
     justify-content: space-between;
 }
 .form-row .input-group{
     flex-basis: 48%;
 }
}