.single-product{
    margin-top: 80px;
}
.single-product .col-2 img{
    padding: 0;


}
.single-product .col-2{
    padding: 20px;
}
.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}
input:focus{
    outline: none;
}
.single-product .fa {
    margin-left: 10px;
    color: #ff523b;
}
.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}


@media only screen and (max-width:600px){

    .single-product .row{
        text-align: left;
    }
    .single-product .col-2{
        padding: 20px 0;;
    }

.single-product h1{
    font-size: 26px;
    line-height: 32px;
}
}
